.body{
    padding-left: 20px;
    padding-right: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    padding: 10px;
    background-color:transparent;
    position:sticky;
}

.container>div>a:first-child{
    margin-left: 0px;
}

.logo{
    flex: 0 0 auto;
    margin-right: 20px;
}

.resize_logo{
    width: 35px;
    height: auto;
}

.navbar{
    color: black;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
    margin: 0;
    margin-bottom: 4px;
    box-shadow: 2px 2px  rgb(154, 148, 121);
    background-color: rgb(255, 254, 243);
}

.navbar:hover{
    background-color: rgb(255, 220, 96);
}

.contact{
  display: none;
  position: absolute;
} 

.active{
    background-color: rgb(255, 220, 96);
}

.main_container{
    padding-left: 20px;
}

.main_msg{
    display: flex;
    height: 100%;
    align-items: stretch;
    
}

.main_msg .box {
    width: 500px;
    height: 220px;
    margin-left: 120px;
    margin-top: 25px
}

.banner{
    display: flex;
}

.resize_banner{
    width: 100%;
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
}

.profile-container{
    display: flex;
    gap: 30px;
    align-items: center;
}

.profile-container .profilepic{
    width: 20%;
    padding: 10px;
    text-align: center;
    max-width: 150px;
    max-height: 150px;
}


.profilepic img{
    max-width: 100%;
    min-width: 50%;
    min-height: 50%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 999px;
    
}

.profile p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.form{
    td{
        vertical-align: top;
    }
}


input[type="text"],
input[type="date"],
select,
textarea {
  width: 340px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    width: 100%;
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
    padding-top: 35px;
    padding-left: 30px;
    border: 1px solid #ccc;
    overflow: auto;
}

.footer{
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
}